.contact {
    width: 90%;
    margin: auto;
    gap: 20px;
    color: #354E57;
    .contact_detail {
        max-width: 500px;
        width: 100%;
    }
    .contact_container {
        background-color: white;
        box-sizing: border-box;
        padding: 33px;
        width: 100%;
        div {
            margin-bottom: 20px;
            width: 50%;
            h6 {

            }
            span {

            }
        }
    }
}

@media screen and (max-width: 740px) {
    .contact {
        flex-direction: column;
        .contact_container {
            div {
                width: 100%;
            }
        }
    }
}