.product__category {
    width: 100%;
    .dropdown_container {
        float: right;
    }
    .category_container {
        width: 100%;
        padding-top: 30px;
        .category_menu {
            width: 20%;
            position: sticky;
            top: 130px;
            .category_ul {
                margin-bottom: 25px;
                h6 {
                    margin-bottom: 10px;
                }
                .category_li {
                    margin-bottom: 5px;
                    margin-left: 10px;
                    a {
                        font-size: 12px;
                    }
                }
            }
        }
        .category_products {
            width: 80%;
            border-top: 1px solid #707070;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 30px;
            box-sizing: border-box;
            padding-top: 30px;
        }
    }
    @media screen and (max-width: 780px) {
        .category_container {
            .category_menu {
                display: none;
            }
        }
    }
}