.checkout__section {
    max-width: 660px;
    margin: auto;
    width: 100%;
    .tertiary_btn {
        width: 30%;
        float: right;
        margin: 0px 5px;
    }
  .checkout_article {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #BACAD1;
    box-sizing: border-box;
    padding: 14px 0px;
  }
  .checkout__modal-detail {
    width: 100%;
    height: 100%;
    z-index: 1111;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: #354e5770;
    .text-start {
      width: 60%;
      height: auto;
      background-color: white;
      box-sizing: border-box;
      padding: 30px;
      margin: auto;
      div {
        margin-bottom: 20px;
      }
      h6, h5, p {
        color: #354E57;
      }
      h5 {
        margin-bottom: 10px;
      }
    }
  }
  @media screen and (max-width: 740px) {
    .checkout__modal-detail {
      .text-start {
        width: 100%;
      }
    }
  }
}