.sign__up {
    max-width: 350px;
    width: 100%;
    margin-top: 40px;
    form {
        div {
            margin-bottom: 15px;
            gap: 10px;
            input {
                width: 100%;
            }
            a {
                text-decoration: underline;
                font-size: 14px;
            }
        }
    }
}