.about__container {
    color: #354E57;
    max-width: 700px;
    width: 100%;
    margin: auto;
    span {
        width: max-content;
        padding: 10px;
        color: #A67744;
        text-transform: uppercase;
        font-size: 14px;
        background-color: white;
        margin-bottom: 8px;
    }
}